[submodule "repos/testing"]
	path = repos/testing
	url = git@github.com:snakesilk/snakesilk-testing.git
[submodule "repos/megaman-kit"]
	path = repos/megaman-kit
	url = git@github.com:snakesilk/megaman-kit.git
[submodule "repos/engine"]
	path = repos/engine
	url = git@github.com:snakesilk/snakesilk-engine.git
[submodule "repos/xml-loader"]
	path = repos/xml-loader
	url = git@github.com:snakesilk/snakesilk-xml-loader.git
[submodule "repos/megamanjs"]
	path = repos/megamanjs
	url = git@github.com:pomle/megamanjs
[submodule "repos/megaman-traits"]
	path = repos/megaman-traits
	url = git@github.com:snakesilk/megaman-traits.git
[submodule "repos/platform-traits"]
	path = repos/platform-traits
	url = git@github.com:snakesilk/platform-traits.git
[submodule "repos/platform-kit"]
	path = repos/platform-kit
	url = git@github.com:snakesilk/platform-kit.git
